//
// Imports
//

@import url("https://fonts.googleapis.com/css2?Soon&family=Creepster&family=Exo:wght@100;400&display=swap");

//
// Breakpoints
//

$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

//
// Colors
//

//
// Fonts
//

$title: "Creepster", cursive;
$gen-font: "Exo", cursive;
