//
// Imports
//

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

//
// Breakpoints
//

$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

//
// Colors
//

$brandWhite: #fcece1;

//
// Fonts
//

$title: "Pacifico", cursive;
