//
// Age Verification Overlay
//

#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.ageCheck {
  width: 70%;
  background-color: black;
  color: white;
  padding: 2em;

  .buttonGroup {
    display: flex;
    justify-content: space-around;
  }
}

.noScroll {
  position: fixed;
}
