//
// Header Background
//

header {
  z-index: 0;
}

.banner {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: bgFade 40s linear infinite 0s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  background-image: url("../../img/cocktail.jpg");
}

//
// Header Text
//

.bannerContent {
  background-color: rgba($color: #000000, $alpha: 0.3);
  text-align: center;
  color: white;

  .bannerTitle {
    padding-top: 2em;
    margin: 0;
    margin-bottom: 0.5em;
  }
  .bannerCopy {
    padding-bottom: 5em;
    margin: 0 auto;
    width: 70%;
  }
}

//
// Section Spacing
//

#about,
#menu,
#contact {
  margin-top: 4em;
}

#contact {
  margin-bottom: 4em;
}

//
// Button Spacing
//

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

//
// Footer
//

.footerContainer {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;
  font-size: 0.75em;

  .techContainer {
    width: 55%;

    p {
      margin: 0;
      margin-bottom: 0.25em;

      :last-child {
        margin-bottom: 5em;
      }
    }
  }
}
